body{
	background-image: url('../images/reg.jpg');
}

h1{
	color: white;
	padding: 5px 12px;
	font-size: 48px;
}

h2{
	text-align: left;
	position: absolute;
	right: 80%;
	top: 15%;
	color: white;
}

.container{
	text-align: left;
	position: absolute;
	right: 70%;
	top: 22%;
	color: white;

}

input{
	border: 1px solid #3498db;
	border-radius: 10px;
	text-align: center;
	padding: 5px 8px;
}

a:link{
	color: #ccc;
}

a:visited{
	color: #00BFFF;
}

a:active{
	color: #FF8000;
}

button{
	padding: 9px 11px;
	background: #fff;
	color: black;
}

button:hover{
	background: #3498db;
}

img{
	position: absolute;
	left: 150%;
}

.logtext{
	text-align: center;
	padding: 5px 9px;
	font-size: 54px;
	position: absolute;
	top: 25%;
	left: 275%;
}
